<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CostumViewFromXIBLoader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4338CEAF1D2D227A007B80F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4338CEC31D2D227A007B80F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4338CECE1D2D227A007B80F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
